<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<appSettings>
		<!-- 数据库连接配置 -->
		<!-- BestTone数据库连接字符串 -->
		<!-- add key="BestToneCenterConStr" value="server=.;uid=sa;password=vnetdev;database=BestTone"/ -->
		<!-- liye local test-->
		<!-- add key="BestToneCenterConStr" value="server=.;uid=sa;password=vnetdev;database=BestTone"/ -->
		<!--add key="BestToneCenterConStr" value="server=localhost;uid=sa;password=vnetdev;database=BestTone"/ -->
		<!-- liye 本机数据库配置-->
		<!--add key="BestToneCenterConStr" value="server=192.168.1.200;uid=newuser;password=passport;database=BestTone"/-->
		<add key="BestToneCenterConStr" value="server=.;uid=sa;password=123456;database=CIP2"/>
		<!--C网手机相关信息数据库-->
		<add key="OracleConStr" value="Data Source=hbdata;Persist Security Info=True;User ID=ehb;Password=ehb;Unicode=True"/>
		<!-- 接口日志 -->
		<!-- 认证鉴权中心提供给商旅平台的接口日志路径 -->
		<add key="CenterForBizTourLogPath" value="c:\BizTourInterfaceLog"/>
		<!--接口访问限制配置 0:启用 1：不启用-->
		<add key="IsInterfaceLimit" value="1"/>
		<!--系统IP限制配置 0:启用 1：不启用-->
		<add key="IsIPLimit" value="1"/>
		<!-- 各类缓存失效时间配置 -->
		<!-- 电话区号信息信息缓存失效时间(单位:天)-->
		<add key="PhoneAreaDataCacheExpireTime" value="0"/>
		<!-- Province信息缓存失效时间(单位:小时)-->
		<add key="ProvinceDataCacheExpireTime" value="0"/>
		<!-- SP信息缓存失效时间(单位:小时)-->
		<add key="SPDataCacheTimeOut" value="1"/>
		<!-- 最大绑定个数-->
		<add key="MaxBoundPhone" value="5"/>
		<!-- 统一接口平台URL-->
		<add key="UnifyInterUrl" value="http://122.224.110.112:8080/WebService/services"/>
		<!---正式-->
		<!--add key="JFUrl" value="http://122.224.110.107/WebService_UserInfor/Service.asmx"/-->
		<!---测试-->
		<add key="JFUrl" value="http://122.224.110.108/WebService_UserInfor/Service.asmx"/>
		<!--生产系统接口Url地址-->
		<add key="NewCardCustomerInfoExportUrl" value="http://122.224.110.108/WebService_UserInfor/"/>
		<!--手机定位接口地址      <add key="PhonePostionQueryUrl" value="http://116.228.171.48:2233/"/>-->
		<add key="PhonePostionQueryUrl" value="http://124.126.120.52:2233/"/>
		<!-- 是否起用日志配置 0:是，1:否-->
		<add key="IsWriteLog" value="0"/>
		<!-- 移动百SPID-->
		<add key="MBesttoneSPID" value="357000001"/>
		<!-- 网百SPID-->
		<add key="NetBesttoneSPID" value="357000002"/>
		<!-- 积分系统SPID -->
		<add key="ScoreBesttoneSPID" value="35000050"/>
		<!-- 号百SPID -->
		<add key="BesttoneSPID" value="35000000"/>
		<!-- 系统标识缓存时间-->
		<add key="SysDataCacheTimeOut" value="0"/>
		<!-- 旧的spid-->
		<!-- 旧的spid-->
		<add key="OldType_SPID" value="35000004;01000001;01010101;03000001;04000001;11000001;12000001;13000001;14000001;15000001;18000001;19000001;20000001;21000001;22000001;23000001;24000001;25000001;27000001;28000001;29000001;31000001;35000005;35000050;35000101;35000102;35000103;35000104;35000105;35000106;35700091"/>
		<!-- 不用输入用户名的业务平台-->
		<add key="UserName_SPID" value="35000005;35000004"/>
		<!-- 语音密码可为空的业务平台-->
		<add key="VoicePwd_SPID" value="35000004"/>
		<add key="ProvinceID3" value="01;08;05;20;06;09;29;07;19;24;26;21;27;29;30;12;"/>

    <add key="NotifyCount" value="3" />
    <!--发邮件配置-->
    <add key="FormName" value="号码百事通客服"/>
    <add key="From" value="service@jf.118114.cn"/>
    <add key="UserID" value="service@jf.118114.cn"/>
    <add key="Password" value="111111"/>
    <add key="ServerName" value="mail.jf.118114.cn"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<!-- 
            设置 compilation debug="true" 将调试符号插入







            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。







        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，







            以标识传入的用户。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页







            以代替错误堆栈跟踪。








        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
	</system.web>
</configuration>
